<div class="container">
				<div class="row">
        	<div class="formatImages">

            <h1>
							Welcome to The Cobbler Section
            </h1>

            <img class="img-fluid" src="./src/assets/images/cobbler1.jpg" width="750" height="500"><br>
						<h3 class="description">Blackberry Cobbler</h3>
						<p>
                See there how easy that is. Let's make some happy little clouds in our world. Let's do that again. Don't forget to tell these special people in your life just how special they are to you.
						</p>
            <img class="img-fluid" src="./src/assets/images/cobbler2.jpg" width="750" height="500"><br>
						<h3 class="description">Cherry Cobbler</h3>
						<p>
                We spend so much of our life looking - but never seeing. Van Dyke Brown is a very nice brown, it's almost like a chocolate brown. Mix your color marbly don't mix it dead. You can't make a mistake. Anything that happens you can learn to use - and make something beautiful out of it.
            </p>
            <img class="img-fluid" src="./src/assets/images/cobbler3.jpg" width="750" height="500"><br>
						<h3 class="description">Strawberry Cobbler</h3>
						<p>
                Don't fight it, use what happens. We're trying to teach you a technique here and how to use it. We artists are a different breed of people. We're a happy bunch.
            </p>
            <img class="img-fluid" src="./src/assets/images/cobbler4.jpg" width="750" height="500"><br>
						<h3 class="description">Cherry Cobbler</h3>
						<p>
                Look around, look at what we have. Beauty is everywhere, you only have to look to see it. Let's put some happy little clouds in our world. Don't hurry. Take your time and enjoy. Isn't it fantastic that you can change your mind and create all these happy things?
            </p>
            <img class="img-fluid" src="./src/assets/images/cobbler5.jpg" width="750" height="500"><br>
						<h3 class="description">Blueberry Peach Cobbler</h3>
						<p>
                All you have to do is let your imagination go wild. Everyone needs a friend. Friends are the most valuable things in the world. I'll go over the colors one more time that we use: Titanium white, Thalo green, Prussian blue, Van Dyke brown, Alizarin crimson, Sap green, Cad yellow, and Permanent red. Put your feelings into it, your heart, it's your world. You can get away with a lot.
            </p>
        </div>
			</div>
			</div>
