/* #7ec0ee
c3cbd0 */

h1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	color: #1A4568;
}
.formatImages {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align:center;
}

.formatImages p {
	text-align: left;
}

.description {
	color: #1A4568;
}

body {
		background-color: #c3cbd0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* ul {
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
	 width: 100%;
	 overflow: hidden;
	 background-color: #333;
}

li {
	 float: left;
}

li a {
	 display: block;
	 color: white;
	 text-align: center;
	 padding: 14px 16px;
	 text-decoration: none;
}

li a:hover:not(.active) {
	 background-color: #111;
}

.active {
	 background-color: #4CAF50;
} */
